In [1]:
import numpy as np # linear algebra
import pandas as pd
import os
os.chdir("D:/Pandas")

In [14]:
trainset=pd.read_csv("train.csv")
testset=pd.read_csv("test.csv")
ss=pd.read_csv('Sample_submission.csv')

In [15]:

testset = testset.drop('EmployeeNumber', axis = 1)
trainset = trainset.drop('EmployeeNumber', axis = 1)

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
for column in testset.columns:
        if testset[column].dtype == np.number:
            continue
        testset[column] = LabelEncoder().fit_transform(testset[column])
for column in trainset.columns:
        if trainset[column].dtype == np.number:
            continue
        trainset[column] = LabelEncoder().fit_transform(trainset[column])

In [24]:
xtest=testset
ytrain=trainset['Attrition']
xtrain=trainset.drop('Attrition',axis = 1)
from sklearn.linear_model import LogisticRegression  
Lr=LogisticRegression(solver='lbfgs',max_iter=50000,C=0.5,penalty='l2',random_state=50)
Lr.fit(xtrain,ytrain)
a=Lr.predict_proba(xtest)
b=a[:,1]
ss=ss.drop('Attrition',axis=1)
ss['Attrition']=b
ss.to_csv('submission16.csv',index=False)

In [25]:
ss.head()

   Id  Attrition
0   1   0.009010
1   2   0.004184
2   3   0.031498
3   4   0.042900
4   5   0.002318

In [21]:
ss.head()

   Id  Attrition
0   1   0.009010
1   2   0.004184
2   3   0.031498
3   4   0.042900
4   5   0.002318